.chart-container {
    width: 1000px;
    height:700px;
    margin: 0 auto;
}

table {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #dadada;
    border-radius: 20px;
    width: 1000px;
}

td {
    padding: 20px;
}

.form-box {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 7px;
    margin: 0px;
    -webkit-appearance:none;
    -webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
    outline: none;
}
.form-box:hover{
	-moz-box-shadow: 0 0 8px #5893bd;
	-webkit-box-shadow: 0 0 8px #5893bd;
	box-shadow: 0 0 8px #5893bd;
	border: 1px solid #5893bd;
}

.form-container {
    width:100%;
    text-align: center;

}

label {
    padding: 0 5;
}
li {
    list-style: none;
    display: inline;
}

.title {
    font-size: 50px;
    color: white;
    padding: 10px;
}
.time-buttons {
    text-align: right;
    width: 50%;
    float: right;
}
.nav-buttons {
    width: 50%;
    float: left;
}
.main-header {
    min-height: 100px;
    background-color: #5893bd;
    font-family: 'Baloo';
}
.main-nav {
    min-height: 60px;
    background-color: white;
    box-shadow: -4px 3px 11px 0px #969696;
}
.nav-container {
    margin: 0 auto;
}

.table-container {
    text-align: center;
}

.nav-button {
    margin: 10px;
    padding: 5px;
    display: inline-block;
    border-radius: 50px;
    border: 3px solid white;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease 0s;
}
.nav-button:hover {
    background-color: white;
    color: #b5b5b5;
}

.time-container {
    display: inline;
}

.time {
    display: inline;
    margin: 10px;
    padding: 5px;
    display: inline-block;
    border-radius: 50px;
    border: 3px solid white;
}

body {
    font-family: 'Baloo';
    margin: 0px;
}