.chart-container {
    width: 1000px;
    height:600px
    margin: 0 auto
}

.title {
    font-size: 50px;
    color: white;
    padding: 10px;
}

.main-header {
    min-height: 100px;
    background-color: #fff572;
    font-family: 'Baloo';
}
.main-nav {
    min-height: 60px;
    background-color: #cac7a2;
    box-shadow: -4px 3px 11px 0px #969696
}
.nav-container {
    margin-left: 45%;
}

.nav-button {
    margin: 10px;
    padding: 5px;
    display: inline-block;
    border-radius: 50px;
    border: 3px solid white;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease 0s;
}
.nav-button:hover {
    background-color: white;
    color: #cac7a2;
}


body {
    font-family: 'Baloo';
    margin: 0px;
}