<head>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Baloo' rel='stylesheet'>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='styles.css') }}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.0/moment-with-locales.min.js"></script>
    <link href="{{ url_for('static', filename='datetimepicker.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/datetimepicker.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ui.js') }}"></script>
</head>
<div class="main-header"><div class="title">Goflow-ui</div></div>
<div class="main-nav">
    <div class="nav-container">
        <div class="nav-buttons">
            {% for nav in nav_buttons %}
            <a href="{{ nav.href }}" class="nav-button">{{ nav.name }}</a>
            {% endfor %}
        </div>
        <div class="time-buttons">
                <div id="start-picker" class="time"></div>
                <input type="hidden" id="start-time" class="time" value="test">
                <div id="end-picker" class="time"></div>
                <input type="hidden" id="end-time" value="test">
        </div>
    </div>
</div>