<div class="chart-container">
    <form action="/topn_sum" method="get">
        <ul class="form-list">
            <li><label>Graph top</label>
                <input class="form-box" type="text" name="max" value="{{ forms.current.max.value }}">
            </li>
            <li>
                <select class="form-box" name="f">
                    {% for col, display_name in forms.select.items() %}
                    {% if forms.current.f.value == col %}
                    <option value="{{ col }}" selected>{{ display_name }}</option>
                    {% else %}
                    <option value="{{ col }}">{{ display_name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </li>
            <li><label>by sum</label>
                <select class="form-box" name="sum">
                    {% for col, display_name in forms.select.items() %}
                    {% if forms.current.f.value == col %}
                    <option value="{{ col }}" selected>{{ display_name }}</option>
                    {% else %}
                    <option value="{{ col }}">{{ display_name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </li>
            <li>
                <input type="submit" value="submit" class="nav-button">
            </li>
        </ul>
    </form>
    <canvas id="{{ chartname }}"></canvas>
</div>

<script>
{{ chart|safe }}
</script>

